@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cedarville+Cursive&family=Merriweather&family=Mohave&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400&family=Recursive&family=Red+Hat+Mono&family=Sacramento&family=Ubuntu&display=swap');
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}

p {
  line-height: 10px;
  font-size: 10px;
  background-image: url(https://pbs.twimg.com/media/FEh3N36agAEda3_?format=jpg&name=medium); 
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.1);
  background-size: cover;
  background-position: center;
  font-family: 'Merriweather', serif;
}
